body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #E3DCD4;
}

.main {
    margin-left: auto;
    margin-right: auto;
    width: 1000px
}

.page {
    background-image: url(page_gra.png)
}

language {
    padding: 10px;
    overflow: hidden;
    font: normal 11px Tahoma, sans-serif;
    float: right;
    overflow: hidden;
}

.eng {
    color: black;
    font-size: 8px;
}

.nav {
    margin: 0;
    background: #fff;
    position: relative;
    border-radius: 4px;
    border-bottom: 1px solid #c0b9a7;
    display: flex
}

.english {
    margin: 0 5px 0 0;
    width: 16px;
    height: 11px;
    background-image: url(flags_desctop.png)
}

.KFC {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex
}

.KFC a {
    color: black;
    text-decoration: none;
    margin-right: 30px
}

.KFC p {
    font-size: 17px
}


}
.flex {
    display: flex
}
.category {
    color: black;
    font-size: 13px;
    display: flex;
}
.category p {
    margin-right: 10px
}
.chiken {
    text-decoration: none
}
.gray {
    color: gray
}
.big {
    color: #a71932;
    margin: 20px 0
}
.content {
    padding-top: 10px;
    box-sizing: border-box
}
.line {
    display: flex;
    margin-bottom: 20px
}
.dish {
    color: gray;
    font-size: 15px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
}
.leg {
    background-image: url(oneleg.png)
}
.twolegs {
    background-image: url(2legs.png)
}
.threestrips{
    background-image: url(3strips.png)
}
.sixstrips{
    background-image: url(6strips.png)
}
.ninestrips{
    background-image: url(9strips.png)
}